.mediaViewInfo {
    --web-view-name: menu&footer;
    --web-view-id: menufooter;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: menufooter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#menufooter {
    position: absolute;
    width: 95%;
    height: 600px;
    overflow: hidden;
    --web-view-name: menu&footer;
    --web-view-id: menufooter;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Path_2245 {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2245 {
    overflow: visible;
    position: absolute;
    width: 1632.764px;
    height: 1px;
    left: 143.5px;
    top: 127.18px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_2571 {
    position: absolute;
    width: 1635px;
    height: 450px;
    left: 143px;
    top: 127px;
    overflow: visible;
}

#Rectangle_868 {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_868 {
    position: absolute;
    overflow: visible;
    width: 1635px;
    height: 450px;
    left: 0px;
    top: 0px;
}

#Group_2566 {
    position: absolute;
    width: 217px;
    height: 152px;
    left: 1121px;
    top: 131px;
    overflow: visible;
}

#Salk_Sigortas {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Temel_Sigorta {
    left: 0px;
    top: 62px;
    position: absolute;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Hayat_ve_Emeklilik_Sigortas {
    left: 0px;
    top: 128px;
    position: absolute;
    overflow: visible;
    width: 218px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Rectangle_877 {
    fill: rgba(245, 245, 245, 1);
}

.Rectangle_877 {
    position: absolute;
    overflow: visible;
    width: 572px;
    height: 450px;
    left: 0px;
    top: 0px;
}

#Rectangle_878 {
    fill: rgba(250, 250, 250, 1);
}

.Rectangle_878 {
    position: absolute;
    overflow: visible;
    width: 494px;
    height: 450px;
    left: 572px;
    top: 0px;
}

.Path_8100:hover {
    background-color: #1784C1;
}

.Path_8100 {
    overflow: visible;
    position: absolute;
    width: 494px;
    height: 54px;
    left: 572px;
    top: 115px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Sigorta_zmleri {
    left: 608px;
    top: 131px;
    position: absolute;
    overflow: visible;
    width: 146px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: black;
}

#Bankaclk_zmleri {
    left: 608px;
    top: 197px;
    position: absolute;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Bankaclk_zmleri:hover {
    left: 572px;
    top: 169px;
    position: absolute;
    overflow: visible;
    width: 494px;
    height: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    background-color: #1784C1;
}

#Dier_Endstri_zmleri {
    left: 608px;
    top: 263px;
    position: absolute;
    overflow: visible;
    width: 201px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Dier_Endstri_zmleri:hover {
    left: 572px;
    top: 250px;
    position: absolute;
    overflow: visible;
    width: 494px;
    height: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    background-color: #1784C1;
}

#Kurumlar_Aras_Teklifler {
    left: 608px;
    top: 329px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Kurumlar_Aras_Teklifler:hover {
    left: 572px;
    top: 329px;
    position: absolute;
    overflow: visible;
    width: 494px;
    height: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    background-color: #1784C1;
}

#Endstriyel_zmler {
    left: 144px;
    top: 128px;
    position: absolute;
    overflow: visible;
    width: 224px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(23, 132, 193, 1);
}

#Teknolojik_zmler {
    left: 144px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 214px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(33, 51, 72, 1);
}

#Donanmsal_zmler {
    left: 144px;
    top: 272px;
    position: absolute;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(33, 51, 72, 1);
}

#Endstriyel_zmler_x {
    left: 604px;
    top: 49px;
    position: absolute;
    overflow: visible;
    width: 267px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 28px;
    color: rgba(112, 112, 112, 1);
}

#Sigorta_zmleri_y {
    left: 1121px;
    top: 49px;
    position: absolute;
    overflow: visible;
    width: 224px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 28px;
    color: rgba(112, 112, 112, 1);
}

#Group_2567 {
    position: absolute;
    width: 25.414px;
    height: 17.314px;
    left: 1473.054px;
    top: 133px;
    overflow: visible;
}

#Path_2467 {
    fill: rgba(0, 151, 240, 1);
}

.Path_2467 {
    overflow: visible;
    position: absolute;
    width: 25.25px;
    height: 0.548px;
    left: 0px;
    top: 8.383px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2468 {
    fill: rgba(0, 151, 240, 1);
}

.Path_2468 {
    overflow: visible;
    position: absolute;
    width: 11.178px;
    height: 17.314px;
    left: 14.236px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_2568 {
    position: absolute;
    width: 25.414px;
    height: 17.314px;
    left: 1473.054px;
    top: 198.843px;
    overflow: visible;
}

#Path_2467_ {
    fill: rgba(0, 151, 240, 1);
}

.Path_2467_ {
    overflow: visible;
    position: absolute;
    width: 25.25px;
    height: 0.548px;
    left: 0px;
    top: 8.383px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2468_ {
    fill: rgba(0, 151, 240, 1);
}

.Path_2468_ {
    overflow: visible;
    position: absolute;
    width: 11.178px;
    height: 17.314px;
    left: 14.236px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_2569 {
    position: absolute;
    width: 25.414px;
    height: 17.314px;
    left: 1473.054px;
    top: 268.843px;
    overflow: visible;
}

#Path_2467_ba {
    fill: rgba(0, 151, 240, 1);
}

.Path_2467_ba {
    overflow: visible;
    position: absolute;
    width: 25.25px;
    height: 0.548px;
    left: 0px;
    top: 8.383px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2468_ba {
    fill: rgba(0, 151, 240, 1);
}

.Path_2468_ba {
    overflow: visible;
    position: absolute;
    width: 11.178px;
    height: 17.314px;
    left: 14.236px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_6 {
    fill: transparent;
    stroke: rgba(204, 204, 204, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_6 {
    overflow: visible;
    position: absolute;
    width: 377px;
    height: 1px;
    left: 1121.5px;
    top: 169.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_7 {
    fill: transparent;
    stroke: rgba(204, 204, 204, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_7 {
    overflow: visible;
    position: absolute;
    width: 377px;
    height: 1px;
    left: 1121.5px;
    top: 239.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_8 {
    fill: transparent;
    stroke: rgba(204, 204, 204, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_8 {
    overflow: visible;
    position: absolute;
    width: 377px;
    height: 1px;
    left: 1121.5px;
    top: 309.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rectangle_842 {
    fill: rgba(23, 131, 191, 1);
}

.Rectangle_842 {
    position: absolute;
    overflow: visible;
    width: 98px;
    height: 98px;
    left: 0px;
    top: 352px;
}

#Path_8101 {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

.Path_8101 {
    overflow: visible;
    position: absolute;
    width: 22.575px;
    height: 12.091px;
    transform: translate(-143px, -127px) matrix(1, 0, 0, 1, 180.7119, 521.9543) rotate(0deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}